---
interface Props {
  type: "text" | "email" | "password";
  label: string;
  name: string;
  value?: string;
  errorMessage?: string;
}

const { type = "text", label, name, value, errorMessage } = Astro.props;
---

<fieldset class={errorMessage && "has-error"}>
  <label for={name}>
    <span>{label}</span>
    <input id={name} name={name} type={type} required value={value} />
  </label>

  <output for={name}>
    {errorMessage}
  </output>
</fieldset>
